/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦card__like-button  — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

html {
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: 100vh;
}
.page {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  font-family: var(--main_font-family, sans-serif);
  color: var(--main-text-color);
  font-variation-settings: "wght" var(--main_font-weight);
  line-height: var(--main_line-height);
}

.header,
.section,
.background_fill {
  background-color: white;
}

.header {
  /* block-size: 368px; */
  font-family: var(--accent_font-family, fantasy);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--border_color);
  margin: 100px 0;
  padding-top: 150px;
  padding-bottom: 130px;
}
.header_title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  padding-bottom: 42px; /* padding: 150px 0 44px; */
}

.header_subtitle {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.section {
  border: 2px solid #000;
  margin-bottom: 50px;
}

.about_start {
  height: max-content;
}

.section_title {
  font-variation-settings: "wght" var(--accent_font-weight);
  padding: 5px 10px;
  font-size: 18px;
}

.bus_image {
  width: 100%;
  height: auto;
  display: block;
  border-block: 2px solid var(--border_color);
}

.section_text {
  font-size: 18px;
  margin-inline-start: 25px;
  margin-inline-end: 25px;
  margin-block-end: 26px;
}

.img_label {
  position: absolute;
  inset-block-start: 24px;
  inset-inline-end: 25px;
  font-size: 14px;
  opacity: 50%;
  font-family: var(--accent_font-family);
  color: var(--main-text-color);
  text-shadow: -1px 0 var(--shadow-color), 0 1px var(--shadow-color),
    1px 0 var(--shadow-color), 0 -1px var(--shadow-color);
  mix-blend-mode: hard-light;
}

.grayscale_filter {
  filter: grayscale(0.7);
}

.saturate_filter {
  filter: saturate(5);
}

.brightness_filter {
  filter: brightness(2);
}

.invert_filter {
  filter: invert(0.8);
}

.sepia_filter {
  filter: sepia(0.7);
}

.blur_filter {
  filter: blur(20px);
  border-block: none;
}

.give_up .img-section {
  overflow: hidden;
  border-block: 2px solid var(--border_color);
}

.some_filters {
  filter: sepia(0.3) brightness(0.9) grayscale(0.5) saturate(3)
    hue-rotate(0.9turn);
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .img_label {
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
    text-shadow: none;
  }
}

.img-section {
  position: relative;
  width: 100%;
  max-width: 696px;
  height: auto;
  overflow: hidden;
  margin-block-end: 26px;
}

.label_uppercase {
  text-transform: uppercase;
}

.dialog {
  display: none;
}

.dialog[open] {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, min-content);
  /* padding: 30px; */
  row-gap: 30px;
  inline-size: clamp(22.3125rem, 22.6646rem + -1.5023vw, 21.3125rem);
  max-block-size: min-content;
  padding: 30px 30px 27px;
}

.floppy {
  inline-size: 21px;
  color: white;
}

.dialog .floppy {
  inline-size: 39px;
  /* grid-column: 1 / 2;
  grid-row: 1 / 2; */
  color: black;
  margin-top: 11px;
}

.modal_title {
  font-family: var(--accent_font-family);
  font-weight: var(--main_font-weight);
  font-size: 14px;
  line-height: 150%;
  grid-column: 2/3;
  grid-row: 1 / 2;
  text-transform: uppercase;
}

.modal_text {
  font-family: var(--accent_font-family);
  font-weight: var(--main_font-weight);
  font-size: 14px;
  line-height: 90%;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  text-transform: uppercase;
}

.button_close {
  padding: 0;
  block-size: 38px;
  border: 2px solid var(--border-accent-color);
  background-color: transparent;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.buttons {
  display: flex;
  margin-block: 24px;
  justify-content: flex-end;
  margin-inline-end: 25px;
  gap: 5px;
}

.card__icon-button {
  border: 2px solid transparent;
  outline: none;
  background-color: transparent;
  padding: 0;
  width: 41px;
  height: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--border-color);
  transition: border 0.3s ease;
}

.card__like-button {
  padding: 0;
  block-size: 38px;
  inline-size: 130px;
  border: 2px solid var(--border-accent-color);
  background-color: transparent;
}

.background_fill {
  width: 339px;
  block-size: min-content;
  gap: 5px;
  margin-inline: auto;
  margin-block-end: 100px;
}

.save_button::after {
  background-color: white;
}

.buttons_with_text:focus {
  outline: none;
}

.buttons_with_text:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--shadow-color);
  transition: 0.3s ease;
}

.button__text {
  font-family: var(--accent_font-family);
  font-weight: var(--main_font-weight);
  font-size: 14px;
  line-height: 90%;
  margin: 0;
  color: white;
}

.buttons_with_text {
  position: relative;
  overflow: hidden;
  mix-blend-mode: difference;
  background-color: black;
  padding-top: 6px;
}

.save_button {
  border: 2px solid var(--border-accent-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 20px;
  gap: 9px;
}

@media (width <= 375px) {
  .header {
    padding-top: 135px;
    padding-bottom: 118px;
  }

  .header_title {
    padding-bottom: 29px;
  }

  .dialog[open] {
    padding-left: 39px;
    column-gap: 7px;
  }

  .bus_image {
    max-width: 375px;
  }

  .img_label {
    inset-block-start: 21px;
    inset-inline-end: 12px;
  }

  .buttons_with_text {
    padding-top: 3px;
  }

  .background_fill {
    width: 310px;
    height: min-content;
  }

  .save_button {
    flex-direction: column;
    padding-top: 13px;
    padding-left: 7px;
    gap: 11px;
  }

  .floppy {
    inline-size: 28px;
  }

  .button__text {
    text-wrap: nowrap;
  }

  .button_close {
    margin-right: 9px;
}
